@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4 {
  font-family: "Cabin Sketch", cursive;
}

.banner img {
  width: 100%;
}

.mission-vision {
  position: relative;
  margin-bottom: 30px;
  padding: 50px;
  background-color: #f2e1ab;
}

.mission-vision::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  background-image: url(../images/cloud.png);
  top: -25px;
  left: 0px;
}

.mission-vision::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  background-image: url(../images/cloud.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -20px;
  left: 0px;
}

.mission-vision .mv-card-wrapper {
  background-image: url(../images/mask-img2.png);
  background-size: cover;
  height: 330px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mission-vision .mv-card-wrapper .mv-card {
  text-align: center;
  padding: 50px;
}

.mission-vision .mv-card-wrapper .mv-card h2 {
  color: #00a8ff;
  text-transform: capitalize;
}

.mission-vision .mv-card-wrapper .mv-card h2 i {
  color: #f9c404;
}

.mission-vision .mv-card-wrapper .mv-card p {
  color: #afafaf;
  margin-bottom: 20px;
}

.mission-vision .mv-card-wrapper .mv-card span {
  text-transform: capitalize;
  background-color: #f9c404;
  padding: 8px 20px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.about-us {
  margin-top: 100px;
  margin-bottom: 50px;
}

.about-us .about-content h2 {
  font-weight: 700;
  font-size: 50px;
  color: #f9c404;
  background: none;
  line-height: 1;
  padding: 20px 0 30px;
  margin: 0 0 0 0;
  position: relative;
  text-transform: uppercase;
}

.about-us .about-content h2 span {
  color: #00a8ff;
}

.about-us .about-content p {
  color: #6b6a6a;
  margin-bottom: 20px;
}

.about-us .about-content ul li {
  color: #6b6a6a;
}

.about-us .about-content ul li i {
  font-size: 14px;
  margin-right: 10px;
  color: #00a8ff;
}

.about-us .about-img img {
  width: 100%;
}

.fixed-image-section {
  background-image: url(../images/banners/problem-facing.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.fixed-image-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.65);
}

.fixed-image-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  z-index: 9;
  top: 0px;
  left: 0px;
  background-image: url(../images/line-bg1.png);
}

.fixed-image-section .mask-image {
  position: relative;
  padding: 150px 0px;
}

.fixed-image-section .mask-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 9%;
  z-index: 9;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/line-bg2.png);
}

.fixed-image-section .image-section-content {
  position: relative;
  z-index: 9;
}

.fixed-image-section .image-section-content h2 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 5px;
  color: #fff000;
}

.fixed-image-section .image-section-content p {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}

.fixed-image-section .image-section-content ul {
  margin-top: 20px;
  padding-left: 15px;
}

.fixed-image-section .image-section-content ul li {
  list-style: disc;
  color: #fff;
}

footer {
  background-color: #1a1919;
  position: relative;
  padding-top: 100px;
}

footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  z-index: 9;
  top: 0px;
  left: 0px;
  background-image: url(../images/line-bg1.png);
}

footer .footer {
  padding-bottom: 20px;
  text-align: center;
}

footer .footer img {
  width: 300px;
  margin-bottom: 10px;
}

footer .footer p {
  color: #949191;
  line-height: 30px;
}

footer .footer .footer-nav {
  margin-top: 20px;
}

footer .footer .footer-nav i {
  color: #fff;
  padding: 0px 8px;
  font-size: 22px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

footer .footer .footer-nav i:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #f9c404;
}

footer .copyright {
  padding: 20px 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 1400px) {
  .mission-vision .mv-card-wrapper {
    background-image: none;
    background-color: #fff;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .mission-vision .mv-card-wrapper {
    height: 450px;
  }
}

@media only screen and (max-width: 767px) {
  .fixed-image-section::before {
    height: 5%;
  }
  .fixed-image-section .mask-image::before {
    height: 5%;
  }
}
/*# sourceMappingURL=about.css.map */