// cabin Sketch
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

// roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// font-family: 'Finger Paint';
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

// Rubik
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

body {
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        list-style: none;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: "Cabin Sketch", cursive;
    }
}




.navigation-bar {
    position: fixed;
    z-index: 99999;
    padding: 15px 0px;
    top: 0px;
    left: 0px;
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    .logo {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .header-navigation-links {
        .fa-bars{
            position: absolute;
            right: 100px;
            top: 20px;
            font-size: 25px;
            display: none;
        }
        ul {
            display: flex;            
            justify-content: space-between;
            li {
                a {
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 0px 5px;
                    
                }               
            }
        }
    }
}


footer {
    background-color: rgb(26, 25, 25);
    position: relative;
    padding-top: 100px !important;
    text-align: center;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 50px;
        z-index: 9;
        top: 0px;
        left: 0px;
        background-image: url(../images/line-bg1.png);
    }
    .footer {
        padding-bottom: 20px;
        text-align: center;
        img {
            width: 200px;
            margin-bottom: 10px;
        }
        p {
            color: rgb(148, 145, 145);
            line-height: 30px;
        }
        .footer-nav {
            margin-top: 20px;           
            i {
               
                color: #fff;
                padding: 0px 8px;
                font-size: 22px;
                transition: all 0.3s ease;
                &:hover {
                    transition: all 0.3s ease;
                    color: #f9c404;
                }
            }
        }
    }
    .copyright {
        padding: 20px 0px;
        background-color: #000;
        color: #fff;
        text-align: center;
    }
}


@media only screen and (max-width: 991px) {
    .navigation-bar {
        .header-navigation-links {
            ul {
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navigation-bar {
        .header-navigation-links {
            .fa-bars{
                display: block;
                cursor: pointer;
            }
            ul{                
                width: 100vw;
                position: absolute;
                top:50px;
                left: 0px;
                text-align: center;
                display: flex;
                display: none;
                flex-direction: column;
                background-color: #fff;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                li{
                    margin-bottom: 5px;
                    font-weight: 600;
                    a{
                        color: #00a79d;
                        margin-left: -150%;
                        
                    }                    
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .navigation-bar {
        .header-navigation-links {
            .fa-bars{
                display: block;
                cursor: pointer;
                right: 50px;
            }
        }
    }
}


@media only screen and (max-width: 500px) {
    footer {
        .footer {
            .footer-nav {
                margin-top: 0px;
                i{
                    margin-top: 15px;
                }
            }
        }
        .copyright{
            padding: 0px 20px;
        }
    }
}


@media only screen and (max-width: 576px) {
    .banner {
        img {
            width: 100%;
            height: 50vh;
        }
    }
}