@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

// roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// font-family: 'Finger Paint';
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

// Rubik
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

body {
    * {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        list-style: none;
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4 {
        font-family: "Cabin Sketch", cursive;
    }
}

.navigation-bar {
    position: fixed;
    z-index: 99999;
    padding: 15px 0px;
    top: 0px;
    left: 0px;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    .logo {
        img {
            max-width: 100%;
            width: 100%;
        }
    }
    .header-navigation-links {
        ul {
            display: flex;
            justify-content: space-between;
            li {
                a {
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.about-packages {
    margin-top: 100px;
    .packages-image {
        img {
            width: 100%;
        }
    }
    .packages-content {
        h2 {
            font-weight: 700;
            font-size: 50px;
            color: #f9c404;
            background: none;
            line-height: 1;
            padding: 20px 0 30px;
            margin: 0 0 0 0;
            position: relative;
            text-transform: uppercase;
            span {
                color: #00a8ff;
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            font-family: "Roboto", sans-serif;
            color: #574d65;
        }
        ul {
            margin-top: 15px;
            padding-left: 15px;
            li {
                list-style: disc;
                margin-bottom: 8px;
                color: #574d65;
            }
        }
    }
}

.banner {
    img {
        width: 100%;
    }
}

.packages {
    margin: 100px 0px;
    .pack-heading {
        font-weight: 700;
        font-size: 50px;
        color: #00a8ff;
        background: none;
        line-height: 1;
        padding: 20px 0 30px;
        margin: 0 0 0 0;
        position: relative;
        text-transform: uppercase;
        text-align: center;
    }
    .packages-table-wrapper {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 30px;
        position: relative;
        width: 100%;
        overflow: scroll;
        .table-head {
            min-width: 767px;
            background-color: #27386c;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            display: flex;
            
            .head-section {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 20%;
                height: 180px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                h2,
                p {
                    text-transform: uppercase;
                    color: #fff;
                    font-family: "Roboto", sans-serif;
                    font-weight: 900;
                }
                h2 {
                    font-size: 40px;
                }
                i {
                    font-size: 35px;
                }
            }
            .head-section1 {
                width: 40%;
                h2 {
                    text-align: left;
                    font-weight: 700;
                }
            }
        }
        .table-content {
            min-width: 767px;
            width: 100%;
            display: flex;
            .table-content-section {
                width: 20%;
                ul {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    text-align: center;
                    li {
                        height: 80px;
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: #2f4078;
                        i {
                            font-size: 24px;
                        }
                        &:nth-child(2n) {
                            background-color: #f3f4f9;
                        }
                        .fa-circle-check {
                            color: #354882;
                        }
                        .fa-circle-xmark {
                            color: #ff8700;
                        }
                    }
                }
            }
            .table-content-section1 {
                z-index: 9;
                width: 40%;
                ul {
                    li {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .about-packages {
        .packages-image {
            display: none;
        }
    }
    .packages {
        .packages-table-wrapper {
            .table-head {
                .head-section {
                    h2 {
                        font-size: 25px;
                        i {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
