@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4 {
  font-family: "Cabin Sketch", cursive;
}

.navigation-bar {
  position: fixed;
  z-index: 99999;
  padding: 15px 0px;
  top: 0px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
}

.navigation-bar .logo img {
  max-width: 100%;
  width: 100%;
}

.navigation-bar .header-navigation-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-bar .header-navigation-links ul li a {
  color: #000;
  text-transform: uppercase;
}

.about-packages {
  margin-top: 100px;
}

.about-packages .packages-image img {
  width: 100%;
}

.about-packages .packages-content h2 {
  font-weight: 700;
  font-size: 50px;
  color: #f9c404;
  background: none;
  line-height: 1;
  padding: 20px 0 30px;
  margin: 0 0 0 0;
  position: relative;
  text-transform: uppercase;
}

.about-packages .packages-content h2 span {
  color: #00a8ff;
}

.about-packages .packages-content p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: #574d65;
}

.about-packages .packages-content ul {
  margin-top: 15px;
  padding-left: 15px;
}

.about-packages .packages-content ul li {
  list-style: disc;
  margin-bottom: 8px;
  color: #574d65;
}

.banner img {
  width: 100%;
}

.packages {
  margin: 100px 0px;
}

.packages .pack-heading {
  font-weight: 700;
  font-size: 50px;
  color: #00a8ff;
  background: none;
  line-height: 1;
  padding: 20px 0 30px;
  margin: 0 0 0 0;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.packages .packages-table-wrapper {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 30px;
  position: relative;
  width: 100%;
  overflow: scroll;
}

.packages .packages-table-wrapper .table-head {
  min-width: 767px;
  background-color: #27386c;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.packages .packages-table-wrapper .table-head .head-section {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 20%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.packages .packages-table-wrapper .table-head .head-section h2,
.packages .packages-table-wrapper .table-head .head-section p {
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.packages .packages-table-wrapper .table-head .head-section h2 {
  font-size: 40px;
}

.packages .packages-table-wrapper .table-head .head-section i {
  font-size: 35px;
}

.packages .packages-table-wrapper .table-head .head-section1 {
  width: 40%;
}

.packages .packages-table-wrapper .table-head .head-section1 h2 {
  text-align: left;
  font-weight: 700;
}

.packages .packages-table-wrapper .table-content {
  min-width: 767px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.packages .packages-table-wrapper .table-content .table-content-section {
  width: 20%;
}

.packages .packages-table-wrapper .table-content .table-content-section ul {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.packages .packages-table-wrapper .table-content .table-content-section ul li {
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2f4078;
}

.packages .packages-table-wrapper .table-content .table-content-section ul li i {
  font-size: 24px;
}

.packages .packages-table-wrapper .table-content .table-content-section ul li:nth-child(2n) {
  background-color: #f3f4f9;
}

.packages .packages-table-wrapper .table-content .table-content-section ul li .fa-circle-check {
  color: #354882;
}

.packages .packages-table-wrapper .table-content .table-content-section ul li .fa-circle-xmark {
  color: #ff8700;
}

.packages .packages-table-wrapper .table-content .table-content-section1 {
  z-index: 9;
  width: 40%;
}

.packages .packages-table-wrapper .table-content .table-content-section1 ul li {
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .about-packages .packages-image {
    display: none;
  }
  .packages .packages-table-wrapper .table-head .head-section h2 {
    font-size: 25px;
  }
  .packages .packages-table-wrapper .table-head .head-section h2 i {
    font-size: 22px;
  }
}
/*# sourceMappingURL=packages.css.map */