@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
body * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: "Cabin Sketch", cursive;
}

.navigation-bar {
  position: fixed;
  z-index: 99999;
  padding: 15px 0px;
  top: 0px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navigation-bar .logo img {
  max-width: 100%;
  width: 100%;
}
.navigation-bar .header-navigation-links ul {
  display: flex;
  justify-content: space-between;
}
.navigation-bar .header-navigation-links ul li a {
  color: #000;
  text-transform: uppercase;
}

.banner img {
  width: 100%;
}

.clients {
  margin-top: 100px;
}
.clients h2 {
  margin: 50px 0px;
  font-weight: 700;
  font-size: 50px;
  color: #00a8ff;
  background: none;
  line-height: 1;
  padding: 20px 0 30px;
  margin: 0 0 0 0;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
.clients .portfolio-wrapper img {
  width: 100%;
}

.model-image-wrapper {
  position: fixed;
  background-color: rgba(57, 131, 199, 0.7);
  top: 0px;
  left: 0px;
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.model-image-wrapper .model-image {
  position: relative;
  width: 35%;
}
.model-image-wrapper .model-image .fa-circle-xmark {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: -30px;
}
.model-image-wrapper .model-image img {
  max-width: 100%;
  width: 100%;
}

footer {
  background-color: #c4eafb;
  position: relative;
  padding: 100px 0px;
}
footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  z-index: 9;
  top: 0px;
  left: 0px;
  background-image: url(../images/line-bg1.png);
}
footer .footer-content img {
  width: 100%;
}
footer .footer-content p {
  margin-top: 20px;
  text-justify: auto;
  font-size: 18px;
  line-height: 32px;
  color: #000;
  text-transform: capitalize;
  font-weight: 500;
  text-align: justify;
}
footer .info h4 {
  font-size: 20px;
  font-weight: 600;
  color: #3d56f0;
  margin: 20px 0px;
  text-transform: uppercase;
}
footer .info ul {
  list-style: disc;
}
footer .info ul li a {
  color: #191918;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
  display: block;
  text-transform: uppercase;
}
footer .recent-post h4 {
  font-size: 20px;
  font-weight: 600;
  color: #3d56f0;
  margin: 20px 0px;
  text-transform: uppercase;
}
footer .recent-post .post-card {
  display: flex;
  margin-bottom: 20px;
}
footer .recent-post .post-card img {
  width: 100px;
}
footer .recent-post .post-card h5 {
  padding-left: 15px;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 600;
}
footer .recent-post .post-card p {
  padding-left: 15px;
  color: #3d56f0;
}
footer .recent-post .post-card p span i {
  padding: 0px 5px;
}
footer .newsletter h4 {
  font-size: 20px;
  font-weight: 600;
  color: #3d56f0;
  margin: 20px 0px;
  text-transform: uppercase;
}
footer .newsletter form input {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
}
footer .newsletter form button {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #ed5ab0;
  border: none;
  color: #fff;
  text-transform: uppercase;
}/*# sourceMappingURL=portfolio.css.map */